{% extends "auctions/layout.html" %}

{% block body %}

<h1>{{ listing.title }} </h1>



    <img src="{{ listing.imageUrl }}" 
    alt="Image of {{ listing.title }}">
    <br>
    <p>{{ listing.description }}</p>
    <br>

    <h3> Price: ${{ listing.price }}</h3>


<div class="details"> 
<h4> Details: </h4> 
<ul stule ="list-style-typpe:disc; padding-left: 20px;"> 
    <li>Listed by: {{ listing.owner }}</li>
    <li>Category: 
        {% if listing.category == "NA" %}
            No listing for this category
        {% else %}
            {{ listing.category }}
        {% endif %}
    </li>
</ul>
</div>
<div>
{% if user.is_authenticated %}
    {% if listingInWatchList %}
        <form action="{% url 'remove' title=listing.title %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Remove from Watchlist</button>
        </form>
    {% else %}
        <form action="{% url 'add' title=listing.title %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Add to Watchlist</button>
        </form>
    {% endif %}
{% endif %}
</div>
    <h2> Message Board </h2>
    {% if user.is_authenticated %}
        <form action="{% url 'message' title=listing.title %}" method="POST"> 
            {% csrf_token %}
            <input type="text" name="message" placeholder="Leave a message">
            <button type="submit" class="btn btn-warning">Submit</button>
        </form>
    {% endif %}
    <ul class="list-group">
        {% for message in message %}
            <li class="list-group-item">
                {{message.message}}
                <br>
                <p> By: {{message.owner}}</p>
                <div class="gh-article-meta">
                    <time class="gh-article-date" datetime="{{ message.timestamp|date:"Y-m-d" }}">
                        {{ message.timestamp|date:"F j, Y, g:i a" }}
                    </time>
                </div>
            </li>
        {%endfor %}
    </ul>
{% endblock %}