{% extends "auctions/layout.html" %}

{% block body %}

<h1>{{ listing.title }} </h1>



    <img src="{{ listing.imageUrl }}" 
    alt="Image of {{ listing.title }}"
        style="max-width: 25%; max-height: 25%;">
    <br>
    <p>{{ listing.description }}</p>
    <br>

    <h3> Price: ${{ listing.price }}</h3>


<div class="details"> 
<h4> Details: </h4> 
<ul stule ="list-style-typpe:disc; padding-left: 20px;"> 
    <li>Listed by: {{ listing.owner }}</li>
    <li>Category: 
        {% if listing.category == "NA" %}
            No listing for this category
        {% else %}
            {{ listing.category }}
        {% endif %}
    </li>
</ul>
</div>
<div>
{% if user.is_authenticated %}
    {% if listingInWatchList %}
        <form action="{% url 'remove' title=listing.title %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Remove from Watchlist</button>
        </form>
    {% else %}
        <form action="{% url 'add' title=listing.title %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Add to Watchlist</button>
        </form>
    {% endif %}
{% endif %}
</div>
<div class = "row mx-3">
    <h2> Message Board </h2>
    
    {% if user.is_authenticated %}
        <form action="{% url 'message' title=listing.title %}" method="POST"> 
            {% csrf_token %}
            <input type="text" name="comment" placeholder="Leave a message">
            <button type="submit" class="btn btn-warning">Submit</button>
        </form>
    {% endif %}
</div>
{% endblock %}